<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <link rel='stylesheet' href='/css/styles.css' />
</head>

<body>
  <div class="xl:container bg-gray-200 p-6 text-center h-screen">
    <h1 class="mb-4 text-4xl">Welcome to Bookstore</h1>
    <a href="/books" class="btn-teal text-xl">
      Go to Store
    </a>
  </div>
</body>

</html>